@charset "UTF-8";
/*
em HTML é id = em CSS é #
em HTML é CLASS = em CSS é .
*/

body {
    background-color: rgba(115, 180, 158, 0.562);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(17, 90, 66);
}

#principal {
    text-align: center;
    background-color: rgb(17, 90, 66);
    color: white;
}

h2 {
    color: rgb(33, 158, 116);
}

.basico {
        color: rgb(17, 90, 66);

}

.intermediario {
        color: rgb(117, 112, 45);

}

.avancado {
        color: crimson;
}

.destaque {
        background-color: rgb(0, 60, 100);
}