@charset "UTF-8";

   :root {
      --rosa: hsl(9, 88%, 90%);
      --cremeescuro: #faf0d9;
      --lilas: #e0bbf6;
      --creme: #ffffff;
      --marrom: #6b4f4f;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background-color: var(--cremeescuro);
      color: var(--marrom);
      line-height: 1.6;
      font-family: 'Quicksand', sans-serif;
    }

    header {
      border-bottom: 2px solid rgba(114, 105, 105, 0.178);
      background-color: var(--cremeescuro);
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    header img {
      width: 300px;
      padding: 0px;
      text-align: center; 
    }
    .hero {
      background-color: var(--cremeescuro);
      padding: 20px 0px;
      text-align: center;
      
    }

    .hero h2 {
      font-size: 2rem;
      margin-bottom: 20px;
      font-family: 'Great Vibes', cursive;
    }

    .produtos, .depoimentos {
      padding: 0px 20px 20px 20px;
      max-width: 1200px;
      margin: auto;
    }

    .produtos h2,
    .depoimentos h2 {
      text-align: center;
      margin-bottom: 30px;
      font-size: 2rem;
      font-family: 'Great Vibes', cursive;
    }

    .produtos h3 {
      text-align: center;
      margin-bottom: 30px;
      font-size: 1.5rem;
      font-family: 'Great Vibes', cursive;
    }
    
    section a.port {
      font-weight: bolder;
      color: var(--marrom);
    }

    section a.port:hover {
      background-color:rgba(0, 0, 0, 0.267);
      border-radius: 5px;
      padding: 5px;
    }
    .cards {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
    }

    .card {
      background-color: white;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      width: 300px;
      padding: 20px;
      text-align: center;
    }

    .card img {
      width: 100%;
      border-radius: 10px;
    }

    .card h3 {
      margin: 15px 0 10px;
      font-family: 'Great Vibes', cursive;
      font-size: 1.5rem;
    }

    .card button {
      background-color: var(--cremeescuro);
      border: none;
      padding: 10px 20px;
      border-radius: 20px;
      cursor: pointer;
      font-weight: normal;
      color: var(--marrom);
      font-family: 'Quicksand', sans-serif;
    }

    .depoimentos blockquote {
      background: white;
      padding: 20px 20px 20px 20px;
      margin: 10px;
      border-left: 5px solid var(--marrom);
      border-radius: 10px;
    }

    footer {
      border-top: 2px solid rgba(114, 105, 105, 0.178);
      padding: 20px;
      text-align: center;
      font-size: 0.9rem;
    }

    @media (max-width: 768px) {
      header {
        flex-direction: column;
        text-align: center;
      }
      .cards {
        flex-direction: column;
        align-items: center;
      }
    }